*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    background-color:  #344a72;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

#container{
    
    margin: 30px auto;
    max-width:300px;
    padding:20px;
    

}


#container .form-wrap{

    background-color: #ddd;
    padding:15px 25px;
    color:#333;
   
}

.form-wrap h1,.form-wrap p{
    line-height: 1.2em;
    color:black;
    text-align:center;
}


a{

    text-decoration: none;
}

.form-group{

 padding:10px;
}

.form-group label{


    display:block;
    
} 


.form-group input{


    width:100%;
    padding:10px;
   
    border-radius:2px;
    height:20px;
    border:1px solid #ddd;
    
} 


.btn{
  
  

   display:block;
   
   width:100%;
   
   background-color:#49c1a2;
   color:white;
   border:none;
   border-radius:2px;
   padding:10px;
   cursor: pointer;
   font-size:1em;
   
   
  
}

.btn:hover{
    background-color:#37a08e
}

.bottom-text{

    font-size:13px;
    margin-top:20px;
}

footer{
    text-align:center;
    margin-top:10px;
    color:white;
}

footer a{
    
    
    color:#49c1a2;
}